@model IEnumerable<DrugMéxico_Proyecto.Models.ProductoModel>
@{
    for (int i = 0; i < 50; i++)
    {
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
            <div class="ps-product">
                <div class="ps-product__thumbnail">
                    <p>@i</p>
                    <a asp-route-id="3" asp-controller="Tienda" asp-action="ProductoDetalle"><img src="~/img/Demo/DEMO9.png" alt="" /></a>
                    <ul class="ps-product__actions">
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                    </ul>
                </div>
                <div class="ps-product__container">
                    <a class="ps-product__vendor" href="#">marca</a>
                    <div class="ps-product__content">
                        <a class="ps-product__title" href="product-default.html">Nombre del producto</a>
                        <p class="ps-product__price">Precio</p>
                    </div>
                    <div class="ps-product__content hover">
                        <a class="ps-product__title" href="product-default.html">Nombre del producto</a>
                        <p class="ps-product__price">Precio normal</p>
                    </div>
                </div>
            </div>
        </div>
    }
}


