@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<body>
    @model IEnumerable<DrugMéxico_Proyecto.Models.ProductosRecomendadosModel>
    <div id="homepage-3">
        <div class="ps-home-banner">
            <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
                <div class="ps-banner--market-1" data-background="img/slider/home-3/home-banner/1.jpg">
                    <a href="#">
                     
                        <img src="img/Demo/DEMO19.jpg" alt="2048" height="562" >
                       
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="ps-site-features">
            <div class="ps-container" >
                <div class="ps-block--site-features ps-block--site-features-2" id="ps-block--site-features">
                    <div class="ps-block__item" id="ps-block__item">
                        <div class="ps-block__left"><i class="icon-rocket"></i></div>
                        <div class="ps-block__right">
                            <h4>Free Delivery</h4>
                            <p>For all oders over $99</p>
                        </div>
                    </div>
                    <div class="ps-block__item" id="ps-block__item">
                        <div class="ps-block__left"><i class="icon-sync"></i></div>
                        <div class="ps-block__right">
                            <h4>90 Days Return</h4>
                            <p>If goods have problems</p>
                        </div>
                    </div>
                    <div class="ps-block__item" id="ps-block__item">
                        <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                        <div class="ps-block__right">
                            <h4>Secure Payment</h4>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                    <div class="ps-block__item" id="ps-block__item">
                        <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                        <div class="ps-block__right">
                            <h4>24/7 Support</h4>
                            <p>Dedicated support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="ps-promotions ">
            <div class="prom-container center-section-align">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 " id="prom-element">
                        <a class="ps-collection" href="#"><img src="img/Demo/DEMo3.jpg" alt="" class="prom-img"></a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 " id="prom-element">
                        <a class="ps-collection" href="#"><img src="img/Demo/DEMo3.jpg" alt="" class="prom-img"></a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 " id="prom-element">
                        <a class="ps-collection" href="#"><img src="img/Demo/DEMO4.jpg" alt="" class="prom-img"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-widgrt-wrap elementor-element-populated">
            <div class="center-section-align">
                <div class="tabs-header padding_marks">
                    <h2 class="tabs-cat__heading">
                        <a class="cat-title" href="#">Todas tus Marcas de Confianza</a>
                    </h2>
                </div>
                <div class="tabs-content">
                    <div class="tabs-panel actived">
                        <div class="columns">
                            <ul class="product-colums">
                                 
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <br/>
        <div class="ps-home-banner ps-home-banner-promotion">
            <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
                <div class="ps-banner--market-1" data-background="img/slider/home-3/home-banner/2.jpg">
                    <a href="#">
                        <img  src="img/Demo/DEMO5.jpg" alt="2048" height="562" >
                    </a>
                </div>
            </div>
        </div>
        <div class="ps-promotions ">
            <div class="prom-container center-section-align">
                <h2 class="tabs-cat__heading font3_styler">
                    <a class="cat-title" href="#">Todas las categorías</a>
                </h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 " id="prom-element">
                        <a class="ps-collection" href="#"><img src="img/Demo/DEMO6.jpg" alt="" class="prom-img"></a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 " id="prom-element">
                        <a class="ps-collection" href="#"><img src="img/Demo/DEMO7.jpg" alt="" class="prom-img"></a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 " id="prom-element">
                        <a class="ps-collection" href="#"><img src="img/Demo/DEMO8.jpg" alt="" class="prom-img"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-home-banner ps-home-banner-promotion">
            <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
                <div class="ps-banner--market-1" data-background="img/slider/home-3/home-banner/2.jpg" alt="2048" height="562">
                    <a href="#">
                        <img src="img/Demo/DEMO9.jpg" alt="2048" height="562" >
                    </a>
                </div>
            </div>
        </div>
        <br />
        <!-- Productos en forma de slider -->
        <div class="tabs-content">
            <div class="tabs-panel actived">
                <h2 class="tabs-cat__heading font3_styler">
                    <a class="cat-title" href="#">Todas las categorías Farma</a>
                </h2>
                <div class="columns">
                    <ul class="product-colums">
                        <li class="product-column-item">
                            <div class="column-item-content">
                                <div class=" product-thumbnail">
                                    <a href="#"> <img width="300" height="300" src="https://drugmexico.com/wp-content/uploads/2023/03/7502001161641_ff49a297-d916-492f-930a-202f5805d9bb-370x370.webp" /></a>
                                </div>
                                <div class=" product-details">
                                    <div class="product-content">
                                        <h2 class="product-title">
                                            <a href="#">LISONIN SOL INY 6 AMP 600 MG/2ML (AL)</a>
                                        </h2>
                                    </div>
                                    <div class="product-price-box">
                                        <span class="price">
                                            <ins>
                                                <span class="actual-price">
                                                    $90.20
                                                </span>
                                            </ins>
                                        </span>
                                    </div>
                                    <div class="product-details-hover">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-column-item">
                            <div class="column-item-content">
                                <div class=" product-thumbnail">
                                    <a href="#"> <img width="300" height="300" src="https://drugmexico.com/wp-content/uploads/2023/03/comprar-inlyta-5-mg-frasco-con-60-tabletas-cancer-precio.jpg" /></a>
                                </div>
                                <div class=" product-details">
                                    <div class="product-content">
                                        <h2 class="product-title">
                                            <a href="#">LISONIN SOL INY 6 AMP 600 MG/2ML (AL)</a>
                                        </h2>
                                    </div>
                                    <div class="product-price-box">
                                        <span class="price">
                                            <ins>
                                                <span class="actual-price">
                                                    $90.20
                                                </span>
                                            </ins>
                                        </span>
                                    </div>
                                    <div class="product-details-hover">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-column-item">
                            <div class="column-item-content">
                                <div class=" product-thumbnail">
                                    <a href="#"> <img width="300" height="300" src="https://drugmexico.com/wp-content/uploads/2023/03/sanfer_ascor_solgotas_fco24ml.png" /></a>
                                </div>
                                <div class=" product-details">
                                    <div class="product-content">
                                        <h2 class="product-title">
                                            <a href="#">LISONIN SOL INY 6 AMP 600 MG/2ML (AL)</a>
                                        </h2>
                                    </div>
                                    <div class="product-price-box">
                                        <span class="price">
                                            <ins>
                                                <span class="actual-price">
                                                    $90.20
                                                </span>
                                            </ins>
                                        </span>
                                    </div>
                                    <div class="product-details-hover">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-column-item">
                            <div class="column-item-content">
                                <div class=" product-thumbnail">
                                    <a href="#"> <img width="300" height="300" src="https://drugmexico.com/wp-content/uploads/2023/03/2047065.jpg" /></a>
                                </div>
                                <div class=" product-details">
                                    <div class="product-content">
                                        <h2 class="product-title">
                                            <a href="#">LISONIN SOL INY 6 AMP 600 MG/2ML (AL)</a>
                                        </h2>
                                    </div>
                                    <div class="product-price-box">
                                        <span class="price">
                                            <ins>
                                                <span class="actual-price">
                                                    $90.20
                                                </span>
                                            </ins>
                                        </span>
                                    </div>
                                    <div class="product-details-hover">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="ps-home-banner ps-home-banner-promotion">
            <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
                <div class="ps-banner--market-1" data-background="img/slider/home-3/home-banner/2.jpg">
                    <a href="#">
                        <img src="img/Demo/DEMO19.jpg" alt="2048" height="562">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>