@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<section class="sobre-drug">
    <div class="sobre-drug-container">
        <div class="section-header">
            <div class="section-header-content">
                <ul class="section-header-list">
                    <li class="section-header-item">
                        <a class="home-link">
                            Home
                        </a>
                    </li>
                    <span class="sepparation">/</span>
                    <li class="section-header-item">
                        <a class="here-link">
                           @ViewData["Title"]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-banner-father">
            <div class="section-banner-container">
                 <div class="section-banner-somos ">
                    <img src="~/img/banners/DEMo3.jpg" alt="Banner somos drug" height="70%">
                </div>
            </div>
        </div>
        <div class="sobre-drug-content">
            <div class="section-content-container">
               
                <div class="section-somos sd-section">
                    <div class="section-somos-content">
                            <h3 class="title-h2">Somos Una empresa .. </h3>
                       
                        <div class="section-somos-text" style="margin: 2rem;">
						        <p>
							        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quibusdam debitis, vel dolore ea aliquid, mollitia eius nisi eos possimus officiis quidem. Similique, placeat natus.
						        </p>
                        </div>
                        <div class="section-somos-subtext">
						    <p>
							    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor nemo asperiores fugiat consequuntur provident dolores quis, dolorem praesentium reprehenderit reiciendis voluptate omnis quae, voluptates, similique impedit veritatis est quo alias vero libero deleniti odio nobis velit placeat. Repudiandae, quidem! Rerum. 
						    </p>
                        </div>
                    </div>
                
                </div>
                <div class="section-cards sd-section">
                    <div class="section-cards-content">
                        <div class="left-img"> 
                            <img width="840" height="477" src="~/img/Demo/DEMO15.jpg" />
                        </div>
                        <div class="right-img">
                            <img width="840" height="477" src="~/img/Demo/DEMO16.jpg" />
                        </div>
                    </div>
                </div>
                <div class="section-personas sd-section">
                    <h2>Personas, atentiendo Personas</h2>
                    <p>
                        En nuestra empresa, valoramos mucho la capacidad de nuestros colaboradores para ponerse en 
                        el lugar de los demás, lo que se traduce en una excelente atención al cliente. Cada solicitud, 
                        servicio o actividad que realizamos se ejecuta con el mismo cuidado y dedicación que si fuera 
                        para nosotros mismos o para alguien cercano a nosotros.
                    </p>
                </div>
                <div class="section-banner-2 sd-section">
                    <div class="banner-container">
                        <img width="2048" height="433" src="~/img/Demo/DEMo3.jpg" />
                    </div>   
                </div>
                <div class="section-productos sd-section">
                    <h2>De donde provienen nuestros productos</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus magni tempora nemo pariatur. Assumenda vero odio voluptas, vel nam voluptatibus porro minus reiciendis quisquam deleniti!
                    </p>
                </div>
                <div class="section-banner-3 sd-section">
                    <div class="banner-container">
                        <img width="1935" height="449" src="~/img/Demo/DEMO4.jpg" />
                    </div>
                </div>
                <div class="section-fortalecemos sd-section">
                    <div class="section-fortalecemos-content">
                        <div class="section-subtitle">
                            <h2>En nuestra empresa fortalecemos a la humanidad</h2>
                        </div>
                        <div class="section-subcontent">
                            <div class="subcontent-img">
                                <img width="840" height="555" src="~/img/Demo/DEMO5.jpg" />
                            </div>
                            <div class="subcontent-text">
								<div class="subtitle">
                                    <h2>Contribuimos al bienestar de la humanidad</h2>
								</div>
 
                                <div class="text">
										<p>
                                        En nuestra empresa, contribuimos con las comunidades más necesitadas en el ámbito de 
                                        la salud destinando un porcentaje de nuestras ventas para el apollo
                                        y asistencia a los mas vulnerables. Nos enorgullece colaborar con el bienestar y la 
                                        mejora de la calidad de vida de quienes más lo necesitan.
										</p>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
                <div class="section-objetivo sd-section">
                    <div class="section-objetivo-content">
                        <div class="subcontent-text">
                            <div class="subtitle subtitle-right">
                                <h2>
                                    Nuestra meta es estar cerca de ti
                                    
                                </h2>
                            </div>
                            <div class="text">
							        <p>
                                    Para estar más cerca de nuestros clientes, contamos con Centros de Envío 
                                    estratégicamente implementados en cada país donde operamos. Nuestro objetivo 
                                    es ofrecer una experiencia de compra ágil y sencilla, con tiempos de entrega 
                                    cortos y una amplia variedad de productos. Trabajamos con dedicación y pasión 
                                    para lograr la satisfacción de nuestros clientes cada día.
							        </p>
                            </div>
                        </div>
                        <div class="subcontent-img">
                        
                            <img width="840" height="555" src="~/img/Demo/DEMO6.jpg" />
                        </div>
                    </div>
                </div>
                <div class="section-saber sd-section">
                    <div class="section-saber-content">
                        <div class="subcontent-img">
                            <img width="840" height="543" src="~/img/Demo/DEMO7.jpg" />
                        </div>
                        <div class="subtontent-text">
                            <div class="subtitle">
                                <h2>Queremos saber de ti</h2>
                            </div>
                            <div class="text">
                                <div class="contact-inf">
								    <p class="contact-text">
                                        Contacto México
                                        <br>
                                        ventas@igrtec.com
                                        <br>
                                        Corporativo. 442 245 7154
                                        <br>
                                        Pedidos especiales. 442 245 7154
                                        <br>
                                        Atención Gobierno. 442 245 7154
								    </p>
                                    <p class="contact-foot">
                                        IGR International Technologies, Inc.
                                        <br>
                                        México
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
